[submodule "rays"]
	path = rays
	url = https://github.com/RealPeha/rays
[submodule "neonabyss-items"]
	path = neonabyss-items
	url = https://github.com/RealPeha/neonabyss-items
[submodule "spirograph"]
	path = spirograph
	url = https://github.com/RealPeha/spirograph.git
[submodule "flood-it"]
	path = flood-it
	url = https://github.com/RealPeha/flood-it.git
[submodule "RealFont"]
	path = RealFont
	url = https://github.com/RealPeha/RealFont.git
[submodule "kod"]
	path = kod
	url = https://github.com/RealPeha/kod.git
[submodule "sketches"]
	path = sketches
	url = https://github.com/RealPeha/sketches.git
