[submodule "rays"]
	path = rays
	url = https://github.com/RealPeha/rays
[submodule "neonabyss-items"]
	path = neonabyss-items
	url = https://github.com/RealPeha/neonabyss-items
[submodule "spirograph"]
	path = spirograph
	url = https://github.com/RealPeha/spirograph.git
[submodule "flood-it"]
	path = flood-it
	url = https://github.com/RealPeha/flood-it.git
